* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #B9CBD9;
}

header {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    text-align: center;
    padding: 1cm;
}

body {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    text-align: center;
}

body + div {
    padding-bottom: 0.5cm;
    padding-top: 2cm;
}

h2 {
    padding-top: .5cm;
    padding-bottom: 0.5cm;
    kerning: 2;
}

.now-playing img {
    height: 50%;
    width: 40%;
}

.album-list {
    padding-bottom: 2cm;
}

.album-list ul {
    height: 150px;
    width: 15cm;
    overflow: hidden;
    overflow-y: scroll;
    background-color: #EAE7E2;
    border-radius: 20px;
    display: inline-block;
    border: dotted 3px;
    padding: .5cm;
    list-style-type: none;
}


.now-playing div {
    height: 12cm;
    border: dotted 3px;
    border-radius: 20px;
    background-color: #EAE7E2;
    margin-bottom: 2cm;
}

.now-playing ul {
    list-style-type: none;

}

.add-new-album {
    padding-bottom: 2cm;
}

.input-contents {
    border: dotted 3px;
    border-radius: 20px;
    padding: .5cm;
    width: 13cm;
    display: inline-block;
    background-color: #EAE7E2;
}